html.cv{
    display: block;
    background: url("img/art.png");
    background-position: 1.2vw 0vw ;
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    border: 2pt solid rgba(204, 209, 209, 0.295);
    border-radius: 1vw;
    background: linear-gradient(to left, #e1fffcaf ,#e2fff5ad 40%,  #fcecf6c9 75%, #d8f7ffc4);
    margin: 2vw 7vw;
    padding: 1vw;
}
section.qual ul li, section.skill ul li {
    font-family: coffee;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 15pt;
    color: rgb(53, 41, 41);
    text-shadow: 1px 1px rgb(248, 248, 248);
    background: linear-gradient(to right, #f1b3791e ,#f7efb05b 40%,  #d9b5e933 75%, #d8f7ff3d);
    padding: .5vw;
    word-wrap: break-word;
    margin: .7vw 0;
    border-radius: .1vw;
}
section.qual ul li, section.skill ul li{
    color: rgb(25, 61, 85);
    text-shadow: 1px 1px rgb(248, 248, 248);
    background: linear-gradient(to right, #aef8f21e ,#b0f7df5b 40%,  #f7bbe333 75%, #d8f7ff3d);
}
section h4{
    font-family: hw;
    text-align: center;
    text-shadow: 1px 2px rgb(248, 248, 248);
    font-size: 2.5vw;
    margin: .5vw 0;
    color: rgb(128, 15, 0);
    border-radius: 1vw;
    padding: 0 .8vw;
    box-shadow: 1px 3px rgba(129, 21, 54, 0.212) ;
}
nav.cv ul li a{
    display: block;
    color: rgb(31, 21, 68);
    text-shadow: 1px 1.2px #85d8f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}
nav.cv ul li a.cv:hover{
    color: rgb(56, 15, 39);
    text-shadow: 1.3px 1.2px #744664;
}
nav.cv{
    background-color: rgba(221, 189, 247, 0.226);
}
h3.cv{
    color: rgb(38, 15, 65);
}
article li{
    font-family: coffee;
    color: rgb(23, 33, 78);
    text-shadow: 1px 1px rgb(123, 196, 238);
    font-size: 1.5vw;
    line-height: 15pt;
}