html.cv{
    display: block;
    background: url("img/art.png");
    background-position: 1.2em 0em ;
    background-repeat: no-repeat;
}
section.qual, section.skill{
    background-color: rgba(255, 255, 255, 0.459);
    border: 2pt solid rgba(204, 209, 209, 0.295);
    border-radius: 1em;
    margin: 1em 0 0 1em;
    padding: .8em;
}
section.qual ul li, section.skill ul li {
    font-family: coffee;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 15pt;
    color: rgb(53, 41, 41);
    text-shadow: 1px 1px rgb(248, 248, 248);
    background: linear-gradient(to right, #f1b3791e ,#f7efb05b 40%,  #d9b5e933 75%, #d8f7ff3d);
    padding: .5em;
    word-wrap: break-word;
    margin: .7em 0;
    border-radius: .1em;
}
section.qual ul li, section.skill ul li{
    color: rgb(25, 61, 85);
    text-shadow: 1px 1px rgb(248, 248, 248);
    background: linear-gradient(to right, #aef8f21e ,#b0f7df5b 40%,  #f7bbe333 75%, #d8f7ff3d);
}
section.skill h4, section.qual h4{
    font-family: hw;
    text-align: center;
    text-shadow: 1px 2px rgb(248, 248, 248);
    font-size: 2.5em;
    margin: .5em 0;
    color: rgb(128, 15, 0);
    border-radius: 1em;
    padding: 0 .8em;
    box-shadow: 1px 3px rgba(129, 21, 54, 0.212) ;
}
section.skill, section.qual{
background: linear-gradient(to left, #e1fffcaf ,#e2fff5ad 40%,  #fcecf6c9 75%, #d8f7ffc4);
}
section.qual, section.skill{
    margin: 2em;
}
nav.cv ul li a.cv{
    display: block;
    color: rgb(31, 21, 68);
    text-shadow: 1px 1.2px #85d8f1;
    font-family: serif;
    font-size: 1.2em;
}
nav.cv ul li a.cv:hover{
    color: rgb(56, 15, 39);
    text-shadow: 1.3px 1.2px #744664;
}
nav.cv{
    background-color: rgba(221, 189, 247, 0.226);
}
h3.cv{
    color: rgb(38, 15, 65);
}
article.qual li{
    font-family: coffee;
    color: rgb(23, 33, 78);
    text-shadow: 1px 1px rgb(123, 196, 238);
    font-size: 1.5em;
    line-height: 15pt;
}