img.gif{
    height: 70%;
    width: 70%;
    border: 1pt solid rgba(255, 78, 13, 0.342);
    border-radius: 4vw;
    padding: .4vw;
    background-color: rgba(255, 245, 238, 0.616);
}
img.face{
    height: 25%;
    width: 35%;
    border: 1pt solid rgba(255, 78, 13, 0.342);
    border-radius: 4vw;
    padding: .2vw;
    margin: 2vw .3vw 2vw 0vw;    
    background-color: rgba(255, 245, 238, 0.616);
}
.mainaside {
    float: right;
    width: 23%;
    margin: 0 1vw 0 1vw;
}
aside.picture{
    text-align: center;
    width: 100%;
}
.center{
    /* display: block; */
    margin: 0 0 0 1vw;
    width: 73%;
    padding: .2vw;
}